<html>
	<header>
		<title>Welcome to Martian Trail</title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" href="/martian_trail/css/style.css">
	</header>
	<body>
		<div class='gameScreen' id='welcome_screen' style='width:1000px; height:600px; text-align:center'>
			<h2 style='padding-top:100px'>Welcome to Martian Trail! Click Button to Start</h2>
		</div>
	</body>
</html>